<div class="motos-section">
    <!-- Título de la sección -->
    <h2 class="section-title">Motos Deportivas</h2>

    <!-- Contenedor de las tarjetas de motos -->
    <div class="motos-container">
    <!-- Tarjeta 1 -->
    <div class="moto-card">
        <img src="cbr650r.jpg" style="width: 22em;" alt="cbr650r" class="moto-image">
        <div class="moto-info">
        <h3 class="moto-name">CBR 650R</h3>
        <p class="moto-type">SPORT</p>
        <div class="moto-price">
            <p class="price">Honda </p>
            <p class="price-detail">Marca</p>
        </div>
        <div class="moto-buttons">
            <button class="quote-button" [routerLink]="['/ven-motos']">Comprar</button>
        </div>
        </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="moto-card">
        <img src="cbr1000rrr.jpg" style="width: 15em;" alt="cbr1000rrr" class="moto-image">
        <div class="moto-info">
        <h3 class="moto-name">CBR 1000RRR</h3>
        <p class="moto-type">SPORT</p>
        <div class="moto-price">
            <p class="price">Honda</p>
            <p class="price-detail">Marca</p>
        </div>
        <div class="moto-buttons">
            <button class="quote-button" [routerLink]="['/ven-motos']">Comprar</button>
        </div>
        </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="moto-card">
        <img src="GSXR1000R.jpg" style="width: 15em;" alt="GSXR1000rr" class="moto-image">
        <div class="moto-info">
        <h3 class="moto-name">GSX-R 1000R</h3>
        <p class="moto-type">SPORT</p>
        <div class="moto-price">
            <p class="price">Suzuki </p>
            <p class="price-detail">Marca</p>
        </div>
        <div class="moto-buttons">
            <button class="quote-button" [routerLink]="['/ven-motos']">Comprar</button>
        </div>
        </div>
    </div>

    <!-- Repite la estructura de tarjeta para motos 4 a 8 -->
    <!-- Tarjeta 4 -->
    <div class="moto-card">
        <img src="m1000rr.jpg" style="width: 15.2em;" alt="m1000rr" class="moto-image">
        <div class="moto-info">
        <h3 class="moto-name">M1000RR</h3>
        <p class="moto-type">SPORT</p>
        <div class="moto-price">
            <p class="price">BMW</p>
            <p class="price-detail">Marca</p>
        </div>
        <div class="moto-buttons">
            <button class="quote-button" [routerLink]="['/ven-motos']">Comprar</button>
        </div>
        </div>
    </div>

    <!-- Tarjeta 5 -->
    <div class="moto-card">
        <img src="r1.jpg" style="width: 14.5em;" alt="r1" class="moto-image">
        <div class="moto-info">
        <h3 class="moto-name">R1</h3>
        <p class="moto-type">SPORT</p>
        <div class="moto-price">
            <p class="price">YAMAHA</p>
            <p class="price-detail">Marca</p>
        </div>
        <div class="moto-buttons">
            <button class="quote-button" [routerLink]="['/ven-motos']">Comprar</button>
        </div>
        </div>
    </div>

    <!-- Tarjeta 6 -->
    <div class="moto-card">
        <img src="r6.jpg" style="width: 25em;" alt="r6" class="moto-image">
        <div class="moto-info">
        <h3 class="moto-name">R6</h3>
        <p class="moto-type">SPORT</p>
        <div class="moto-price">
            <p class="price">YAMAHA</p>
            <p class="price-detail">Marca</p>
        </div>
        <div class="moto-buttons">
            <button class="quote-button" [routerLink]="['/ven-motos']">Comprar</button>
        </div>
        </div>
    </div>

    <!-- Tarjeta 7 -->
    <div class="moto-card">
        <img src="rs660.jpg" style="width: 16em;" alt="rs660" class="moto-image">
        <div class="moto-info">
        <h3 class="moto-name">RS660</h3>
        <p class="moto-type">SPORT</p>
        <div class="moto-price">
            <p class="price">APRILIA</p>
            <p class="price-detail">Marca</p>
        </div>
        <div class="moto-buttons">
            <button class="quote-button" [routerLink]="['/ven-motos']">Comprar</button>
        </div>
        </div>
    </div>

    <!-- Tarjeta 8 -->
    <div class="moto-card">
        <img src="rsv4.jpg" style="width: 14em;" alt="rsv4" class="moto-image">
        <div class="moto-info">
        <h3 class="moto-name">RSV4</h3>
        <p class="moto-type">SPORT</p>
        <div class="moto-price">
            <p class="price">APRILIA</p>
            <p class="price-detail">Marca</p>
        </div>
        <div class="moto-buttons">
            <button class="quote-button" [routerLink]="['/ven-motos']">Comprar</button>
        </div>
        </div>
    </div>

    <div class="moto-card">
        <img src="zx6r.jpg" style="width: 15.5em;" alt="zx6r" class="moto-image">
        <div class="moto-info">
        <h3 class="moto-name">ZX6R</h3>
        <p class="moto-type">SPORT</p>
        <div class="moto-price">
            <p class="price">KAWASAKI</p>
            <p class="price-detail">Marca</p>
        </div>
        <div class="moto-buttons">
            <button class="quote-button" [routerLink]="['/ven-motos']">Comprar</button>
        </div>
        </div>
    </div>

    <div class="moto-card">
        <img src="zx10r.jpg" style="width: 15.5em;" alt="zx10r" class="moto-image">
        <div class="moto-info">
        <h3 class="moto-name">ZX10R</h3>
        <p class="moto-type">SPORT</p>
        <div class="moto-price">
            <p class="price">KAWASAKI</p>
            <p class="price-detail">Marca</p>
        </div>
        <div class="moto-buttons">
            <button class="quote-button" [routerLink]="['/ven-motos']">Comprar</button>
        </div>
        </div>
    </div>

    </div>
</div>
