<div class="main-content">
    <div class="section motos">
        <h3>Motocicletas</h3>
        <p>Creemos valor excepcional y experiencias únicas que enriquecen la vida de los amantes de las dos ruedas.</p>
        <button>Entrar</button>
    </div>
    <div class="section musical">
        <h3>Musical</h3>
        <p>Compartimos la pasión, creatividad y el performance musical de alto nivel.</p>
        <button>Entrar</button>
    </div>
    <div class="section servicios">
        <h3>Yamaha Servicios Financieros</h3>
        <p>Confía en quien mejor te conoce. Cumplir tu sueño de tener una Yamaha ahora es más fácil.</p>
        <button>Entrar</button>
    </div>
    <div class="section bicicletas">
        <h3>Bicicletas Yamaha</h3>
        <p>Yamaha es reconocida como marca pionera en Ebikes, con más de 2 millones de bicicletas vendidas...</p>
        <button>Entrar</button>
    </div>
    
</div>
