<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - MotoMax</title>
    <link rel="stylesheet" href="cliente.component.css">
</head>
<body>
    <!-- Contenedor principal para el formulario de registro -->
    <div class="registro-container">
        <!-- Caja de registro -->
        <div class="registro-box">
            <h2>Registro</h2>

            <!-- Formulario de registro -->
            <form action="#">
                <div class="textbox">
                    <!-- Campo para el nombre -->
                    <input type="text" placeholder="form-control" [(ngModel)]="cliente.nombre" name=" nombre" placeholder="Nombre" required>
                </div>

                <div class="textbox">
                    <!-- Campo para el primer apellido -->
                    <input type="text" placeholder="form-control" [(ngModel)]="cliente.primerApellido" name="primerApellido" placeholder="Primer Apellido" required>
                </div>

                <div class="textbox">
                    <!-- Campo para el segundo apellido -->
                    <input type="text" placeholder="form-control" [(ngModel)]="cliente.segundoApellido" name="segundoApellido" placeholder="Segundo Apellido" required>
                </div>

                <div class="textbox">
                    <!-- Campo para el teléfono -->
                    <input type="text" placeholder="form-control" [(ngModel)]="cliente.telefono" name="telefono" placeholder="Telefono" required>
                </div>

                <div class="textbox">
                    <!-- Campo para el correo electrónico -->
                    <input type="text" placeholder="form-control" [(ngModel)]="cliente.email" name="email" placeholder="Email" required>
                </div>

                <!-- Botón de registro -->
                <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.idCliente">
                            Registrar
                        </button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
                    </ng-template>
            
                
                    </div>
                </div>
            </form>

            <!-- Enlace para volver al inicio de sesión (si lo deseas) -->
            
        </div>
    </div>
</body>
</html>
